apt-transport-https
build-essential
caca-utils
curl
default-jdk
fonts-powerline
fortune
gdebi
git
git-hub
gpg
libbz2-dev
libffi-dev
liblzma-dev
libncurses5-dev
libreadline-dev
libsqlite3-dev
libssl-dev
libxml2-dev
libxmlsec1-dev
llvm
make
neovim
npm
python3
software-properties-common
tk-dev
wget
xz-utils
zlib1g-dev
zsh
