appmenu-gtk-module-common
appmenu-gtk2-module
appmenu-gtk3-module
apt-transport-https
build-essential
bundler
caca-utils
curl
default-jdk
dex
fd-find
fonts-firacode
fonts-powerline
fortune
gdb
gdebi
gh
git
git-lfs
golang
gpg
i3
i3pystatus
icdiff
imagemagick
libbz2-dev
libdbus-1-dev
libdbusmenu-glib4
libdbusmenu-gtk3-4
libdbusmenu-gtk4
libffi-dev
libghc-iwlib-dev
libglib2.0-dev
liblzma-dev
libncurses5-dev
libreadline-dev
libsqlite3-dev
libssl-dev
libxml2-dev
libxmlsec1-dev
llvm
make
neofetch
neovim
npm
openssh-server
pasystray
python3
python3-pip
python3-psutil
python3-pyalsa
ruby
ruby-dev
ruby-build
scrot
software-properties-common
tk-dev
wget
xinput
xz-utils
zip
zlib1g-dev
zsh
