appmenu-gtk-module-common
appmenu-gtk2-module
appmenu-gtk3-module
appmenu-qt
apt-transport-https
build-essential
bundler
caca-utils
curl
default-jdk
fonts-powerline
fortune
gdebi
git
git-hub
gpg
i3
i3pystatus
imagemagick
libbz2-dev
libdbus-1-dev
libdbusmenu-glib4
libdbusmenu-gtk3-4
libdbusmenu-gtk4
libffi-dev
libghc-iwlib-dev
libglib2.0-dev
liblzma-dev
libncurses5-dev
libreadline-dev
libsqlite3-dev
libssl-dev
libxml2-dev
libxmlsec1-dev
llvm
make
neovim
npm
python3
python3-psutil
python3-pyalsa
ruby
ruby-dev
scrot
software-properties-common
tk-dev
wget
xinput
xz-utils
zlib1g-dev
zsh
