aws-sam-cli
cask
coreutils
docker
docker-compose
findutils
fortune
git
git-lfs
gnu-sed
moreutils
neovim
npm
openssl
pyenv
python3
readline
skhd
sqlite
wget
xz
# yabai tiling window manager https://github.com/koekeishiya/yabai
yabai
zlib
zsh
