atk
atk-devel
autoconf
automake
bzip2-devel
clang
cmake
curl-minimal
docker
gcc
gcc-c++
gettext
gh
git
golang
libedit
libedit-devel
libffi
libffi-devel
libtool
libyaml
libyaml-devel
make
ninja-build
openssl-devel
patch
pkgconfig
readline
readline-devel
rtx
sqlite-devel
sudo
unzip
util-linux
util-linux-user
wget
xz-lzma-compat
zlib
zlib-devel
zsh
