autoconf
automake
clang
cmake
curl-minimal
gcc
gcc-c++
gettext
gh
git
golang
libedit
libedit-devel
libffi
libffi-devel
libtool
libyaml
libyaml-devel
make
ninja-build
openssl-devel
patch
pkgconfig
rtx
sudo
unzip
wget
zlib
zlib-devel
zsh
