<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.quickwork.env</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>
/bin/launchctl setenv QUICKWORK_DEBUG true
/bin/launchctl setenv QUICKWORK_LOG_LEVEL WARN
/bin/launchctl setenv QUICKWORK_TTS_ENABLED true
/bin/launchctl setenv QUICKWORK_A2A_ENABLED true
        </string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
