<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.quickwork.env</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>
/bin/launchctl setenv QUICKWORK_DEBUG true
/bin/launchctl setenv QUICKWORK_LOG_LEVEL WARN
/bin/launchctl setenv QUICKWORK_BUILD_STAGE dev
/bin/launchctl setenv QUICKWORK_MARKETPLACE_ENABLED 1
/bin/launchctl setenv QUICKWORK_WORKSTREAMS_ENABLED 1
/bin/launchctl setenv QUICKWORK_VIDEO_GENERATION_ENABLED 1
/bin/launchctl setenv QUICKWORK_BRAVEHEART_UPDATE_CHANNEL_ENABLED 1
/bin/launchctl setenv QUICKWORK_FLOWS_ENABLED 1
/bin/launchctl setenv QUICKWORK_CODE_MODE_ENABLED 1
/bin/launchctl setenv QUICKWORK_ADVANCED_DESIGN_SETTINGS_ENABLED 1
/bin/launchctl setenv QUICKWORK_FEED_CODEACT 1
/bin/launchctl setenv QUICKWORK_ADD_ARTIFACT_TO_SPACE_ENABLED 1
/bin/launchctl setenv QUICKWORK_MULTI_REGION_ENABLED 1
/bin/launchctl setenv QUICKWORK_PLUGINS_ENABLED 1
/bin/launchctl setenv QUICKWORK_APPS_PAGE_ENABLED 1
/bin/launchctl setenv QUICKWORK_A2A_ENABLED 1
/bin/launchctl setenv QUICKWORK_QUICK_APPS_ENABLED 1
/bin/launchctl setenv QUICKWORK_SESSIONS_DB_MAX_BYTES 32212254720
/bin/launchctl setenv QUICKWORK_ENABLE_CAPS '{"tools":["screen_meeting_monitor","computer_use"],"skills":["screenshare","computer_use"]}'
        </string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
